@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Test Dev Page!";
}
<h2>Test Dev Page!</h2>
 <button id="master">Master</button><br/>
 <button id="bac">Bachelor</button><br/>
 <button id="phd">Phd</button><br/>

    <style>
        button, p {
            padding: 5px;
            margin: 5px;
        }
    </style>

